.App {
  font-family: "Times New Roman" serif;
  text-align: center;
  background-color: purple;

}

.custom-background {
  background-color: white ;
}

.button:hover {
  background-color: lightgrey;
}

.button:active {
  box-shadow: none;
  outline: none;
}